* {
  border: 1px solid red;
}

body {
  background: papayawhip;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  }

.a, .b, .c, .d, .e, .f {
  background-color: orange;
  justify-content: space-evenly;
  align-items: center;
}

.a {
  display: flex;
  flex: .50;
}

.b {
  display: flex;
  flex: 2;
}

.row {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  text-align: center;
}

.c, .d, .e {
  display: inline;
  width: 33%;
  height: 250px;
}

.f {
  display: flex;
  flex: 1
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .a {
    flex-basis: 100%;
  }
  
  .b {
    flex-basis: 100%;
    flex: 2;
    max-width: 70%;
  }

  .row {
    display: flex;
    width: 100%;
    max-width: 70%;
  }

  .f {
    flex-direction: column;
    flex-shrink: 3;
  }
}